html {
  background-color: lightgray;
}

/*Fonte*/

canvas {
  border: 4px solid #999;
  border-radius: 16px;

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Inicio*/
.subtitle {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2vw;
  color: #5cbcac;
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  top: -5vw;
}

.title {
  display: block;
  position: relative;
  margin: auto;
}

/* Contexto Narrativo */

.context,
.time {
  position: relative;
  margin: auto;
  background: none;
  background-image: url(assets/story2.png);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  height: 14vw;
  width: 31vw;
  padding: 2vw;
}

.context > .clock,
.time > .clock {
  font-family: "Pixelify Sans", sans-serif;
  color: #2e372f;
  margin-bottom: 0.3vw;
  margin-top: 0.2vw;
  margin-left: 1vw;
}

.context > .context_text,
.time > .context_text {
  /*background-color: #5cbcac;
  border: #1c646c 5px double;
  border-radius: 15px;*/
  margin-top: 0%;
  font-family: "Pixelify Sans", sans-serif;
  padding-left: 1vw;
  color: #1c646c;
  width: 29vw;
}

.context {
  padding-top: 3vw;
}

.time {
  padding-top: 5vw;
}

/* Background */
.green {
  background-color: rgb(46, 55, 47);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2vw;
}

/*Botões*/
.grid-container {
  display: inline-block;
  position: relative;
  width: 17%;
  background-color: #5cbcac;
  border: #1c646c 7px double;
  border-radius: 25px;
  margin-right: 1vw;
}

.move {
  position: relative;
  width: 17%;
  background-color: #1c646c;
  border: #5cbcac 7px double;
  border-radius: 25px;
}

button {
  background: none;
  background-image: url(assets/buttons.png);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  /* put the height and width of your image here */
  height: 80px;
  width: 250px;
  border: none;

  text-align: center;
  color: #1c646c;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.08s;
  margin: 1.5vw;
  font-family: "Pixelify Sans", sans-serif;
}

button:active {
  /*background-color: #999;*/
  color: #5cbcac;
  /*box-shadow: 0 4px #666;*/
  transform: translateY(4px);
}
