html {
  background-color: rgb(46, 55, 47);
}

body {
  padding: 0;
  overflow: auto;
  align-items: center;
  overflow-x: hidden;
}

/*Fonte*/

canvas {
  border: 4px solid #999;
  border-radius: 16px;

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}
/* Inicio*/
a {
  text-decoration: none;
}

.index_container {
  display: block;
  position: fixed;
  width: 100vw;
  text-align: center;
  align-content: center;
}

.subtitle {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2vw;
  color: #5cbcac;
  display: block;
}

.title {
  width: 80vw;
}

#bt {
  position: absolute;
  top: 10px;
  margin-left: 30em;
  z-index: 999; /* Adjust the z-index as needed */
}

#bt2 {
  position: absolute;
  top: 10px;
  margin-left: 30em;
  z-index: 999; /* Adjust the z-index as needed */
}

#bt3 {
  position: absolute;
  margin-top: 37em;
  margin-left: 1rem;
  width: 250px;
  z-index: 999; /* Adjust the z-index as needed */
}

/* Contexto Narrativo */

.context,
.time {
  position: relative;
  margin: auto;
  background: none;
  background-image: url(assets/story2.png);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  height: 14vw;
  width: 31vw;
  padding: 2vw;
}

.context > .clock,
.time > .clock {
  font-family: "Pixelify Sans", sans-serif;
  color: #2e372f;
  margin-bottom: -0.7vw;
  margin-top: -1vw;
  margin-left: 0.6vw;
}

.context > .context_text,
.time > .context_text {
  /*background-color: #5cbcac;
  border: #1c646c 5px double;
  border-radius: 15px;*/
  font-family: "Pixelify Sans", sans-serif;
  padding-left: 0.6vw;
  color: #1c646c;
  width: 30vw;
}

.context {
  position: relative;
  top: 25vh;
  padding-top: 3vw;
}

/* Background */
.green {
  background-color: rgb(46, 55, 47);
  height: 100vh;
  margin: 0;
}

#context1 {
  display: block;
}

#context2 {
  display: none;
}

/*Botões*/
button {
  background: none;
  background-image: url(assets/buttons.png);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  /* put the height and width of your image here */
  height: 8vh;
  width: 100vw;
  border: none;

  padding: 0;
  margin-top: 2vh;

  text-align: center;
  color: #1c646c;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.08s;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
}

button:active {
  /*background-color: #999;*/
  color: #5cbcac;
  /*box-shadow: 0 4px #666;*/
  transform: translateY(4px);
}

@media only screen and (max-width: 750px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  #continue1 {
    display: block;
    position: relative;
    top: 30vh;
  }

  #continue2 {
    display: none;
    position: relative;
    top: 30vh;
  }

  .play {
    display: none;
  }

  /* Characters*/

  .character {
    display: inline-block;
    position: relative;
    width: 20%;
    margin: auto;
  }

  .all_characters {
    width: 100vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .color {
    padding-top: 4vh;
    padding-bottom: 3vh;
  }

  .characterimg {
    position: relative;
    left: -9vw;
    width: 42vw;
    margin-bottom: 2vh;
  }

  .colorimg {
    position: relative;
    left: -8vw;
    width: 34vw;
  }

  .subtitle_char {
    display: block;
    width: 100vw;
    margin: auto;
    font-family: "Pixelify Sans", sans-serif;
    color: #2e372f;
    font-size: 5vw;
  }

  /*Radio Buttons*/
  input[type="radio"] {
    height: 20px;
    width: 20px;
  }

  .select {
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20em;
    background-color: #5cbcac;
    border: #1c646c 7px double;
    border-radius: 25px;
    text-align: center;
    height: auto;
    z-index: 1;
  }

  /*Ações*/
  .grid-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20em;
    background-color: #5cbcac;
    border: #1c646c 7px double;
    border-radius: 25px;
    text-align: center;
    height: auto;
    z-index: 1;
  }

  .move {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20em;
    background-color: #1c646c;
    border: #5cbcac 7px double;
    border-radius: 25px;
    text-align: center;
    height: auto;
    z-index: 1;
  }
}
